@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
h1{text-align: center;
color: rgb(235, 202, 235);
background-color: beige;}
h3 {text-align: center;}
h1 {font-family: 'Bebas neue';
font-weight: bolder;
font-size: xxx-large;}
h3 {font-family: 'Bebas neue';
font-size: xx-large ;
font-weight: bolder;}
h4 {font-family: 'inter';
text-decoration-color: black;}
h5 {font-family: 'inter';}
p{font-family: 'inter';
color: rgb(76, 76, 76);}

img {
    width: 30%;
    margin: auto;
    display: block;
    border-radius: 200px;


}